@mixin button-common {
  padding: 1.5rem 2rem;
  opacity: 0.9;

  @media screen and (min-width: $bp) {
    font-size: $font-size-20;
    padding: 1.5rem 3rem;

    &:hover {
      opacity: 1;
    }
  }
}
